/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  ol, ul {
	list-style: none;
}

  /* Main CSS Starts Here!!! */

  .container {
    display: flex;
    gap: 25px;
    height: 100vh;
}

hr {
  color: rgba(128, 128, 128, 0.25);
  margin: 35px 0;
}

/* Left Side Bar */

.left-sidebar {
    flex: 1;
    border: 2px solid gray;
    padding: 25px;
}

.left-sidebar .title {
  font-size: 22px;
  font-weight: 600;
}

.btn-container {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container button {
  margin: 15px;
  cursor: pointer;
  width: 200px;
}

/* Popups */

.project-popup {
  display: none;
  position: absolute;
  width: 300px;
  height: auto;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 25px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.btn-field {
  margin-top: 35px;
  flex-direction: row;
  justify-content: space-around;
}

.btn-field button {
  padding: 5px 15px;
  cursor: pointer;
}









.main {
  flex: 4;
  border: 1px solid red;
  padding: 25px;
}
